<html>
    <head>
        <title>{{Title}}</title>
    </head>
    <body style="margin: 0;overflow: hidden;">
        <div name="top-bar" style="float: top; width:100%;height:5%;border-bottom: solid;">
            <h1>{{Title}}</h1>
        </div>
        <div name="nav-menu" style="float: left; width: 18%; height: 95%;border-right: solid;">
            <ul>
                {{Index}}
            </ul>
        </div>
        <div style="margin-left: 20%; height: 95%; overflow: auto;">
            {{Content}}
        </div>
    </body>
</html>